body{
    width:1000px;
    margin: auto;
}
.top{
    display: flex;
    justify-content: space-evenly;
    background-color:yellow;
}
table{

    margin-left:170px;


}
.logo{
    margin-left: -70px;
    margin-top:10px;
}
.cart{
    margin-right:-100px;
}
.profile{
    margin-right:-150px;
}

.hello{
    display: flex;
    background-color:aqua;
    overflow: hidden;

}
button{
    width:350px;
    height: 60px;
}
.button{
    width:175px;
    height:60px;
}
.left{
    display:
}
.slider{
    width:944px;
    height:166px;
}

#explore-tab-1 div {
    flex: 1;
    margin-left: 15px;
    margin-top: 15px;
  }

  #explore-tab-1 img {
    width: 230px;
    height: 200px;
  }
  
  #explore-tab-1 {
        
    margin-top:-40px;
    width: 1000px;
    display: flex;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    overflow: scroll;
    justify-content: center;
    align-items: center;
    margin-left: 1px;
 
    
  }
  .explore
  {
      margin-top:150px;
      background-color:white;
      width:1500px;
      height:fit-content;
      margin-left: 140px;
  }
  .scroll
  {
      padding-left:10px;
  }
